/* 레이아웃 */
/* body 배경색 */
#contents {
	margin-top:10rem;
}

#followquick { 
	position:absolute; 
	top:20%;
	right:10%;
}
	
/* 메인 이미지 슬라이더 레이아웃 */
#mainImg {
	position: relative;
	border:none;
    width: 100%;
    height: 60%;
    margin-bottom: 40px;
}

/* 이미지 슬라이드 */
.slider figure {
	position:relative;
    height: 100%;
}
.slick-slide img {
	margin-top: 50px;
}

.slider figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 40px 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
}
.slider figcaption em {
    display: block;
    font-weight: bold;
    font-size: 28px;
    text-align:center;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.84s ease;
}
.slider figcaption span {
    display: block;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.84s 0.2s ease;
}
.slider .slick-active figcaption em {
    opacity: 1;
    transform: translateX(0);
}
.slider .slick-active figcaption span {
    opacity: 1;
    transform: translateX(0);
}

.slider .slick-dots {
    display: block;
    width: 100%;
    text-align: center;
    
}
.slider .slick-dots li {

    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
}
.slider .slick-dots li button {
	position: absolute;
	bottom: 7%;
	margin:20px 0;
	border: 0.3px solid #000;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #111;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
	border:none;
    background: orange;
}

.slider .slick-prev::before {
    content: "\f053";
    font-size: 30px;
    text-indent: 0;
    position: absolute;
    left: 9px;
    top: 8px;
}
.slider .slick-prev {
    position: absolute;
    left: 5%;
    bottom: 50%;
    z-index: 1000;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
    background: none;
    border: none;
}

.slider .slick-next {
    position: absolute;
    right: 5%;
    bottom: 50%;
    z-index: 1000;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
    background: none;
    border: none;
}
.slider .slick-next::before {
	content: "\f054";
	font-size: 30px;
    text-indent: 0;
    position: absolute;
    left: 11px;
    top: 8px;
}

.container {
	width:1200px;
    position: relative;
    margin: 0 auto;
}
#footer {
    border-top: 1px solid #dbdbdb;
}


/* 헤더 */
#header {
    height: 20rem;
}
@keyframes down {
    from {
        width: 100%;
        height: 0;
    }
    to {
        width: 100%;
        height: 5em;
    }
}
/* nav.jsp */
.title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    z-index: 9999;
    text-align: center;
    background-color: #fff;
    animation-name: down;
    animation-duration: 2s;
    animation-direction: normal;
    line-height: 5em;
}

.mainmenu {
    float: left;
    width: 30%;
}

.mainmenu ul {
    text-align: left;

}

.mainmenu li {
    float: left;
    margin: 0 10 0 0;
}
.mainmenu a {
    color: black;
    font-size: 1.05em;
    letter-spacing: +0.05em;
    padding: 1em;
}
.mainmenu a .logo {
    width: 50%;
    height: 50%;
    margin-right:10em;
    vertical-align: middle;
}

.mainmenu a.logo:hover {
    border: 0;
    background-color: #fff;
}

.mainmenu .menu {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.mainmenu a:last-child {
    margin-right: 0;
}
.mainmenu a:hover {
    color: #fff;
    border-radius: 3em;

    animation-name: down;
    animation-duration: 2s;
    animation-direction: normal;

}

.mainmenu #submenu {
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border: 1px #aaa solid;
    padding: 0 5px;
}
.mainmenu #submenu > li > a:hover {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #222;
    border-radius: 0;
    transition: ease 0.3s;
}

.mainmenu ul > li:hover #submenu {
    opacity: 1;
    visibility: visible;
    transition: ease-in 0.3s;
}

/* nav.jsp > tophead ( 회원가입 , 로그인 , Contact ) */
#tophead {
    float: right;
    width: 25%;
    height: 4em;
    overflow: hidden;
    list-style: none;

}
#tophead:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}
#tophead ul {
    margin: 0 auto;

}
#tophead li {
    float: right;
    margin: 0 0 0 10px;
}
#tophead a {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #222;
    font-size: 0.9em;
    line-height: 2em;
}
#tophead a:hover {
    text-decoration: none;
    color: red;
    font-size: 0.92em;
    transition: ease 0.7s;
}
#tophead .cart{
	position:relative;
	width:18px;
	height: 18px;
	margin-right: -20px;
	margin-top: -20px;
}


/* 컨텐츠 영역 */
.column {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}
.column .col_tit {
	text-align: center;
    font-size: 30px;
    color: orange;
    padding-bottom: 5px;
    font-weight: bold;
}
.column .col_desc {
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #ddd;
    line-height: 18px;
}

/* 라이트 박스 */
.square a {
	position: relative;
	text-align: center;
    float: left;
    width: 30%;
    height: 50%;
    margin: 1% 0 4% 2.5%;
    overflow: hidden;
}
.square a img {
    width: 100%;
    display: block;
}
.square a em {
    background: rgba(0,0,0,0.77);
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -30px;
    opacity: 1;
    transition: all 0.3s ease;
}
.square a:hover em {
    bottom: 0;
    background: rgba(0,0,0,0.57);
}
.square a:nth-child(1):hover img {
    filter: blur(2px);
}
.square a:nth-child(2):hover img {
    filter: brightness(50%);
}
.square a:nth-child(3):hover img {
    filter: contrast(10%);
}
.square a:nth-child(4):hover img {
    filter: grayscale(100%);
}
.square a:nth-child(5):hover img {
    filter: hue-rotate(120deg);
}
.square a:nth-child(6):hover img {
    filter: invert(100%);
}


/* 푸터 */
.footer {
    text-align: center;
    padding: 30px 50px;
}
.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
}
.footer li:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 2px;
}
.footer li:first-child:before {
    width: 0;
}
.footer address {
    padding-top: 15px;
}

.layer {
	position:relative;
	margin: 10% auto;
	text-align:center;	
	vertical-align:middle;
	border: 3px solid #ccc;
	width : 1000px;
	height: 500px;
	padding: 40px 40px 40px 60px;
	
}

.l_title {
    font-size: 1em;
    text-align: left;
    font-weight:bold;
    color: #000;
}
#login_box{
	margin-top:150px;
	margin-left:30px;
	display:inline-block;
	float:left;
	width: 40%;
}
#login {
	position:relative;
	text-align: center;
	width: inherit;
	height: inherit;
	
}
.input_box {
	position:relative;
	display:block;
	text-align:center;
    width: 300px;
    height: 39px;
    padding: 10px 8px;
    margin:10 auto;
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: inset 0 1px 0 #f5f5f5;
}

.submit {
    width: 300px;
    height: 55px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: white;
    background-color: #000;
    margin: 16px 0;
}


.signUp_box{
	margin-top:150px;
	display:inline-block;
	float:left;
	width: 50%;
}

.signup {
	background:#fff;
	color:#1f1f1f;
	margin-top:15px;
	border:3px solid #000;
	width: 296px;
	height: 50px;
}

.signup > a{
    font-size: 14px;
    font-weight: 700;
    border: none;
    line-height: 50px;
}

.text_wrap {
	text-align: left;
	margin: 5px 0;
}
.text_wrap .text01 { 
	font-size:17px;
	font-weight:bold;
	margin-bottom:20px;
}

.text_wrap .text02 { 
	font-size:15px;
}

.find {
    text-align: center;
    width: 300px;
}

.find > span.space {
    font-size: 12px;
    font-weight: 400;
    color: #444;
    margin: 0 16px;
}
.find > a {
    font-size: 12px;
    font-weight: 400;
    color: #444;
}

#register-box {
    display: block;
    width: 300px;
    margin: 96px auto 64px;
    background-color: #fff;
    padding: 30px;
    border: 10px solid #dceff7;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
#register-box legend {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden;
    border: none;
}

#register-box > #fregisterform {
    position: inherit;
    display: block;
    width: 100%;
    margin: 51px 0 0;
}

#register-box > #fregisterform > p {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    padding: 0;
    margin: 0 0 0 4px;
}
#register-box > #fregisterform > input[type="text"],
#register-box > #fregisterform > input[type="password"] {
    color: #000;
    width: 284px;
    height: 16px;
    font-family: 'NBG-regular';
    font-size: 14px;
    border: 1px solid #cccccc;
    padding: 10px 8px;
    margin: 8px 0 20px;
    border-radius: 0;
}

#register-box > #fregisterform > input[type="checkbox"] {
    margin: 2px 14px 0 0;
    vertical-align: top;
}
#register-box > #fregisterform > label.desc {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    vertical-align: top;
}
#register-box > #fregisterform > label.desc > a {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
}
#register-box > #fregisterform > input.submit {
    display: block;
    width: 87px;
    height: 39px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: white;
    margin: 48px auto 0;
    background-color: #7f7f7f;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	background-color: #fff;
}

.navbar-nav>li>a {
	color: coral;
}

@media screen and (max-width: 1000px) {
	#mainImg {
	    height: 140px;
	}
	.slider figure {
	    position: relative;
	    height: inherit;
	}
	#followquick { 
		display: none;
	}
	.container {
		width: 100%;
	}
	.mainmenu .menu{
		width: 15px;
		height: 15px;
	}
	.mainmenu a .logo {
		width: 70%;
	}
	
	.navbar-toggle .icon-bar{
		margin-top:10px;
		background-color: orange;
	}
	
	#tophead{
		display:none;
	}
}
@media screen and (min-width: 1001px) {
	#tophead{
		display:inline;
	}
	.collapse .navbar-collapse{
		display: none;
	}
	.navbar-header, .nav navbar-nav navbar-right{
		display:none;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		display:contents;
		background: none;
	}
}























